.nav-item {
    margin-right: 3rem ; 
}
.navbar-brand{
    margin-left: 5rem;
}

.center-content {

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    width: 100%

}

.video-container {
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    width: 100vw;
}

.center-content h2 {
    margin-right: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-right: 100px;
    font-weight: 550;
    margin-left: 20px;
}

.center-content h1 {
    font-weight: 700;
    padding: 50px;
    margin-left: 10px;
}

.video-container h2{
     color: white;
 }
 .card-img-top{
    width: 200px;
    height: auto;

 }

 .whytext {
  
    font-size: x-large;
    padding-left: 80px;
    
  }
  
  .whyimage {
    padding-left: 100px; 
  }
  .bg {

    width: 100vw;
    height: auto; 
    max-height: 600px;
  }


.custom{
    padding: auto;
    padding-left: 20px;
}


#clientCarousel img {
    object-fit: contain;
}
#clientCarousel img {
    width: 100%;
    height: 500px;
}

.aspect-ratio-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
}


.carousel-item {
    transition: transform 2s ease; 
}
.carousel-inner img {
    max-height: 300px; 
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.bg{
    padding-bottom: 700px;
}

.custom4{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
   
    width: 100%
}



